@mixin button(){
    background: var(--secondary-400);
    border: none;
    border-radius: $spacing;
    padding: $spacing $spacing-xxl;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: color-mix(in srgb, var(--primary-100), transparent 70%) 0px 0px 3px, color-mix(in srgb, var(--primary-100), transparent 70%) 0px 0px 5px;
    box-shadow: -4px -4px 3px hsla(0, 0%, 20%, 0.521);
}