.part{
    margin-bottom: $spacing-xxl;
    h1{
        margin-bottom: 16px;
    }
}

// Our Team
.team{
    margin-top: $spacing-lg;
    display: flex;
    justify-content: space-evenly;
}
.person{
    width: max-content;
    text-align: center;
    .picture{
        text-align: center;
        height: 150px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 125%;
            height: 125%;
            object-fit: cover;
            object-position: -125px 0;
        }
    }
}