#hero{
    min-height: calc(100vh - 65px);
    display: grid;
    align-items: center;

    .content{
        min-width: 300px;
        width: 50%;
        h1{
            max-width: 15ch;
            margin: 0 0 8px;
            // text-shadow: 0px 0px 5px #093eff;
        }
        p{
            max-width: 50ch;
            line-height: 24px;
        }
    }
}

.c-t-a{
    display: flex;
    gap: $spacing-lg;
    margin: $spacing-xl 0 0;
    span {
        border: 1px solid white;
        padding: 8px 12px;
        border-radius:  $spacing-lg;
    }
}


// deco
.bg-h{
    position: absolute;
    height: 70vh;
    right: clamp($spacing, 10%, 45px);
    &.spatio{
        right: 30%;
        filter: brightness(50%);
    }
    &.planet{
        height: 85vh;
        filter: brightness(35%);
    }
    img{
        height: 100%;
        width: 100%;
    }
}

// second section nous maitrisons
#scroll {
    padding: $spacing 0;
    position: relative;
    h2{
        text-align: center;
        margin: 0 0 $spacing
    }
}
.tools{
    display: flex;
    width: 100vw;
    height: fit-content;
    // overflow: scroll;
    animation: slide 12s linear infinite;
    div{
        margin: 0 $spacing-xl;
    }
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}