// Active steps styles
[active-step]>div {
    display: none;
}

[active-step="1"]>.step-1,
[active-step="2"]>.step-2,
[active-step="3"]>.step-3,
[active-step="4"]>.step-4,
[active-step="5"]>.step-5 {
    display: block;

}

// Layout
#order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 86px);
    margin-top: 50px;
    h1{
        text-align: center;
        margin-bottom: 1em;
        font-size: clamp(1.2rem,2vw,2.5rem);
    }
    h2{
        text-align: center;
        margin-bottom: $spacing-md;
    }
}
form{
    background: hsla(230, 70%, 5%, .50);
    border: 1px solid hsla(111, 24%, 94%, .1);
    border-radius: $spacing-lg;
    padding: $spacing-lg;
    backdrop-filter: blur(2px);
    width: clamp(290px, 90%, 900px);
    margin: 0 auto;
    position: relative;
    min-height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    .buttons{
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        button{
            border: 1px solid hsla(111, 24%, 94%, .15);
            background: none;
            padding: $spacing-xs $spacing-md;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: $spacing-lg;
            background: var(--black-pearl);
            margin: 0 $spacing-xs;
            cursor: pointer;
            color: grey;
            transition: .25s;
            &:hover{
                color: var(--mint-cream);
                border: 1px solid hsla(111, 24%, 94%, .5);
            }
        }
    }
}

.input-error {
    border: 2px solid hsl(0, 100%, 50%)!important;
}


// First step
.first-step{
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-lg;
    justify-content: center;
    align-items: center;
    span{
        position: relative;
    }
    input{
        background: none;
        padding: $spacing-xs $spacing-md;
        border: 2px solid var(--yale-blue);
        border-radius: $spacing-lg;
        width: 100%;
        min-width: 300px;
        margin: 0 auto;
        font-size: 1rem;
        position: relative;
        &:focus{
            outline: none;
            border: 2px solid var(--moonstone);
            &+label{
                color: var(--moonstone);
            }
        }
        &:placeholder-shown+label {
            position: absolute;
            color: grey;
            top: 50%;
            transform: translateY(-50%);
            left: $spacing-md;
            padding: 0;
        }
    }
    label{
        position: absolute;
        color: var(--yale-blue);
        top: 0;
        transform: translateY(-50%);
        left: $spacing-md;
        padding: 0 4px;
        transition: .25s;
        &::after{
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            height: 4px;
            width: 100%;
            background: var(--black-pearl);
            z-index: -1;
        }
    }
}