// Active steps styles
[active-step]>div {
    display: none;
}

[active-step="1"]>.step-1,
[active-step="2"]>.step-2,
[active-step="3"]>.step-3,
[active-step="4"]>.step-4,
[active-step="5"]>.step-5 {
    display: block;

}

// Layout
#order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 86px);
    margin-top: 50px;
}