header {
    max-width: 100vw;
    @media (max-width: $breakpoint-2xl) {
        a{
            font-size: 1rem;
        }
    }
    @media (max-width: $breakpoint-xs) {
        border-bottom: 1px solid hsla(111, 24%, 94%, .1);
        position: fixed;
        z-index: 5;
        width: 100vw;
        background: hsla(230, 70%, 5%, .75);
        backdrop-filter: blur(5px);
        .go-home{
            display: none;
        }
        .logo{
            scale: 1.3;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    padding: $spacing;
    gap: $spacing;
    z-index: 3;
    .logo {
        user-select: none;
        cursor: pointer;
        width: 50px;
        height: auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

// All three part, one is hidden
.nav-links {
    display: flex;
    width: 100%;
    
    .links {
        display: flex;
        height: max-content;
        gap: $spacing;
        margin-left: auto;
        &> :nth-child(1) {
            position: relative;
        }

        &> :nth-child(2) {
            position: relative;
            padding-left: 32px;
            
            &::after {
                position: absolute;
                content: '';
                top: 45%;
                transform: translateY(-50%) scale(.5);
                left: -7px;
                height: 200%;
                width: 4px;
                border-radius: 2px;
                background: var(--mint-cream);
                z-index: 5;
                opacity: .85;
            }
        }
    }
}
// pure css burger menu
.menu a{
    position: relative;
    z-index: 5;
}
#nav-menu{
    position: absolute;
    top: 24px;
    right: 16px;
    width: 25px;
    height: 25px;
    opacity: 0;
    z-index: 6;
    &:checked ~ .burger > :nth-child(1) {
        transform: rotate(45deg) translate(7px, 2px);
    }
    &:checked ~ .burger > :nth-child(2) {
        opacity: 0;
    }
    &:checked ~ .burger > :nth-child(3) {
        transform: rotate(-45deg) translate(7px, -2px);
    }
    &:checked ~ .burger-links {
        height: max-content;
        transform: scale(1);
    }
    &:checked ~ label {
        display: block;
    }
}
.burger {
    position: relative;
    z-index: 5;
    div {
        width: 25px;
        height: 2px;
        border-radius: 2px;
        margin: 4px 0;
        background: var(--mint-cream);
        transition: transform .25s ease-in-out, opacity .25s ease;
        opacity: .9;
    }
    &.toggle{
        position: absolute;
        right: 16px;
        top: 24px;
    }
}

.burger-links {
    position: absolute;
    top: 58px;
    right: 8px;
    height: 1px;
    transform: scale(0);
    transform-origin: top right;
    overflow: hidden;
    background: hsla(230, 70%, 5%, 1);
    backdrop-filter: blur(5px);
    border: 1px solid hsla(111, 24%, 94%, .1);
    border-radius: $spacing 5px $spacing $spacing;
    padding: $spacing;
    z-index: 4;
    display: grid;
    gap: $spacing;
    transition: height .35s ease-in-out .25s, transform .25s ease-in-out;
    &:hover .link {
        opacity: 0.5;
    }
    .link{
        display: flex;
        align-items: center;
        gap: 8px;
        transition: .15s ease-in-out;
        a{
            font-size: 1rem;
        }
        img {
            filter: invert(100%);
        }
        &:hover {
            opacity: 1;
        }
    }
    @media (max-width: $breakpoint-xs) {
        top: 78px;
        right: 6px;
    }
}

// order a website button
.command {
    border-radius: $spacing-lg;
    background: hsla(230, 70%, 5%, .25);
    border: 1px solid hsla(111, 24%, 94%, .5);
    backdrop-filter: blur(2px);
    padding: 10px $spacing 8px $spacing;
    font-size: 1rem;
    font-weight: 400;
    transition: .5s ease-in-out border, background .5s ease-in;
}



.toogle-menu{
    display: none;
    cursor: initial;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }
}