header{
    // background: hsla(230, 70%, 5%, .75);
    // backdrop-filter: blur(5px);
    // border-bottom: 1px solid hsla(111, 24%, 94%, .1);
    padding: 8px $spacing $spacing;
    position: absolute;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        // font-weight: 600;
        text-transform: uppercase;
    }
}

.logo{
    display: flex;
    height: max-content;
    z-index: 3;
}

.ico-planet{
    height: 45px;
    width: auto;
    img{
        width: 100%;
        height: 100%;
    }
}

.link{
    padding: 10px 0 0;
    z-index: 3;
}

.nav-links{
    display: flex;
    gap: $spacing-lg;
}

// launch project btn
.command{
    a{
        padding: 8px 12px;
        border-radius: $spacing-lg;
        border: 1px solid hsla(111, 24%, 94%, .75);
    }
}

// full css burger menu
.burger-btn{
    display: none;
    position: absolute;
    right: $spacing;
    width: 30px;
    height: 30px;
    top: 18px;
    z-index: 5;
    opacity: 0;
}

.burger-menu{
    display: none;
    width: max-content;
    span{
        height: 4px;
        width: 24px;
        border-radius: 2px;
        background: var(--lavender-web);
    }
}

#toggle-off{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}