@charset "UTF-8";

/* Default styles */

:root {
  --primary-500: #19003A;
  --primary-400: #26004d;
  --primary-300: #46134b;
  --primary-200: #5A206C;
  --primary-100: #9f40ff;
  --primary-150: #a52885;
  --primary-250: #832578;
  --primary-350: #420e50;
  --secondary-400: #1e1e20;
  --secondary-300: #72687d;
  --secondary-200: #d8d4f2;
  --secondary-100: #edf3ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  color: var(--secondary-100);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  width: 100vw;
  background: #000;
}

body::-webkit-scrollbar {
  width: 0.35em;
}

body::-webkit-scrollbar-track {
  background: var(--black-pearl);
  border-left: 1px solid hsla(111, 24%, 94%, 0.1);
}

body::-webkit-scrollbar-thumb {
  background: var(--lavender-web);
}

@font-face {
  font-family: "Bunken Tech Sans SC Wide W01Bd";
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/Bunken.woff2") format("woff2"), url("/public/fonts/Bunken.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/Montserrat.woff2") format("woff2");
}

@font-face {
  font-family: "Pirulen V2";
  src: url("/public/fonts/Pirulen.woff2") format("woff2"), url("/public/fonts/Pirulen.woff") format("woff");
}

@font-face {
  font-family: "BEYNO";
  src: url("https://db.onlinewebfonts.com/t/87e0d5d6ba27de27e759ab254219b6b1.eot");
  src: url("https://db.onlinewebfonts.com/t/87e0d5d6ba27de27e759ab254219b6b1.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/87e0d5d6ba27de27e759ab254219b6b1.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/87e0d5d6ba27de27e759ab254219b6b1.woff") format("woff"), url("https://db.onlinewebfonts.com/t/87e0d5d6ba27de27e759ab254219b6b1.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/87e0d5d6ba27de27e759ab254219b6b1.svg#BEYNO") format("svg");
}

h1 {
  font-family: "Pirulen V2";
  text-transform: uppercase;
}

h2 {
  font-family: "Pirulen V2";
}

body {
  font-family: "Montserrat";
}

a,
button,
textarea {
  font-family: "Montserrat";
}

input {
  font-family: "Montserrat";
  font-weight: 200;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 2.489rem;
  /* 39.84px */
}

h2 {
  font-size: 1.528rem;
  /* 33.12px */
}

h3 {
  font-size: 1.44rem;
  /* 27.68px */
}

h4 {
  font-size: 1.2rem;
  /* 23.04px */
}

small {
  font-size: 0.833rem;
  /* 13.28px */
}

header {
  padding: 0.6666666667em 2em;
  position: absolute;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 0 3em;
}

.nav-links a :nth-child(1) {
  transition: 0.25s all ease-in-out 0s;
}

.nav-links a:hover :nth-child(1) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(2) {
  transition: 0.25s all ease-in-out 0.05s;
}

.nav-links a:hover :nth-child(2) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(3) {
  transition: 0.25s all ease-in-out 0.1s;
}

.nav-links a:hover :nth-child(3) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(4) {
  transition: 0.25s all ease-in-out 0.15s;
}

.nav-links a:hover :nth-child(4) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(5) {
  transition: 0.25s all ease-in-out 0.2s;
}

.nav-links a:hover :nth-child(5) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(6) {
  transition: 0.25s all ease-in-out 0.25s;
}

.nav-links a:hover :nth-child(6) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(7) {
  transition: 0.25s all ease-in-out 0.3s;
}

.nav-links a:hover :nth-child(7) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(8) {
  transition: 0.25s all ease-in-out 0.35s;
}

.nav-links a:hover :nth-child(8) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(9) {
  transition: 0.25s all ease-in-out 0.4s;
}

.nav-links a:hover :nth-child(9) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(10) {
  transition: 0.25s all ease-in-out 0.45s;
}

.nav-links a:hover :nth-child(10) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(11) {
  transition: 0.25s all ease-in-out 0.5s;
}

.nav-links a:hover :nth-child(11) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(12) {
  transition: 0.25s all ease-in-out 0.55s;
}

.nav-links a:hover :nth-child(12) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(13) {
  transition: 0.25s all ease-in-out 0.6s;
}

.nav-links a:hover :nth-child(13) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(14) {
  transition: 0.25s all ease-in-out 0.65s;
}

.nav-links a:hover :nth-child(14) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(15) {
  transition: 0.25s all ease-in-out 0.7s;
}

.nav-links a:hover :nth-child(15) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(16) {
  transition: 0.25s all ease-in-out 0.75s;
}

.nav-links a:hover :nth-child(16) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(17) {
  transition: 0.25s all ease-in-out 0.8s;
}

.nav-links a:hover :nth-child(17) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(18) {
  transition: 0.25s all ease-in-out 0.85s;
}

.nav-links a:hover :nth-child(18) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(19) {
  transition: 0.25s all ease-in-out 0.9s;
}

.nav-links a:hover :nth-child(19) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.nav-links a :nth-child(20) {
  transition: 0.25s all ease-in-out 0.95s;
}

.nav-links a:hover :nth-child(20) {
  text-shadow: black 0px 0px 5px;
  color: var(--primary-100);
}

.ico-nav {
  display: none;
}

.order-link {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo a {
  height: auto;
  width: 85px;
  display: inline-block;
}

.logo a img {
  width: 100%;
  height: 100%;
}

.command {
  padding: 6px;
  border: 1px solid var(--secondary-100);
  border-radius: 1.5em;
  transition: 0.25s;
  cursor: pointer;
}

.command a {
  padding: 6px 12px;
}

.command:hover {
  background: var(--primary-350);
}

nav:has(.burger-menu input:checked) .burger-menu label > div {
  background: color-mix(in srgb, var(--secondary-100), transparent 0%);
}

nav:has(.burger-menu input:checked) .burger-menu label :nth-child(1) {
  transform: translateY(3px) rotate(-45deg);
}

nav:has(.burger-menu input:checked) .burger-menu label :nth-child(2) {
  opacity: 0;
}

nav:has(.burger-menu input:checked) .burger-menu label :nth-child(3) {
  transform: translateY(-3px) rotate(45deg);
}

nav:has(.burger-menu input:checked) .nav-links {
  transform: translateX(0) scale(1);
  opacity: 1;
}

nav:has(.burger-menu input:checked) .nav-links::before {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.burger-menu {
  display: none;
}

.burger-menu input {
  position: absolute;
  opacity: 0;
}

.burger-menu label {
  position: relative;
  cursor: pointer;
}

.burger-menu label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 20px;
}

.burger-menu label > div {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background: color-mix(in srgb, var(--secondary-100), transparent 20%);
  transition: 0.25s ease-in-out;
}

.burger-menu label > div:hover {
  background: color-mix(in srgb, var(--secondary-100), transparent 0%);
}

.burger-menu label :nth-child(1) {
  transform: translateY(-4px);
}

.burger-menu label :nth-child(2) {
  opacity: 1;
  transition-delay: 0.05s;
}

.burger-menu label :nth-child(3) {
  transform: translateY(4px);
  transition-delay: 0.1s;
}

footer {
  max-width: 100vw;
  text-align: left;
  line-height: 25px;
  padding: 0 0 1em;
  margin-top: 6em;
  position: relative;
  background: hsla(0, 0%, 0%, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: -4px 0px 5px #000, -4px 0px 20px #000, -6px 0px 30px #000, -6px 0px 15px #000 inset, 6px 0px 20px #000 inset;
}

footer a {
  font-size: 1rem;
}

.separation {
  height: 2px;
  border-radius: 4px;
  width: 50%;
  min-width: 200px;
  margin: 0 auto calc(3em + 12px);
  background: var(--lavender-web);
  position: relative;
  top: -1px;
}

.get-in-touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  min-width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}

.get-in-touch a {
  font-weight: 200;
}

.get-in-touch a:nth-child(4) {
  background: red;
}

.get-in-touch ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1em;
}

.get-in-touch li {
  width: -moz-max-content;
  width: max-content;
}

.get-in-touch .adress {
  pointer-events: none;
}

.mail a {
  text-transform: initial;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em 0 1em;
}

.ico {
  transition: transform ease-in-out 0.25s;
  cursor: pointer;
}

.ico:hover {
  transform: scale(1.1) translateY(-5px);
}

.copyright {
  text-align: center;
}

.deco {
  position: absolute;
  top: -75px;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

.deco img {
  width: 100%;
  height: 100%;
}

.deco.ship {
  left: clamp(5px, 10%, 50px);
  top: -25px;
  width: 200px;
  animation: flying 1.5s ease infinite;
}

.deco.spatio {
  right: clamp(5px, 10%, 50px);
  width: 200px;
  animation: floating 5s ease infinite;
}

.get-to-top {
  position: absolute;
  top: -75px;
  right: 1em;
  filter: invert(100%);
  opacity: 0.7;
}

/*Desktop First*/

.container {
  max-width: 1536px;
  margin: 0 auto;
}

/*2xl*/

/*xl*/

/*lg*/

/*md*/

/*sm*/

/*xs*/

/* Home page | Hero section */

#hero {
  height: calc(100vh + 95px);
  width: 100vw;
  display: grid;
  align-items: center;
  background: url("/public/media/test/008.jpg") center/cover no-repeat;
  box-shadow: inset 0px -35px 50px #020000;
}

#hero .content {
  min-width: 275px;
  width: 50%;
  margin: 5% 0 0 10%;
  z-index: 2;
}

#hero .content h1 {
  font-size: clamp(1.2rem, 4vw, 2.489rem);
  max-width: 17ch;
  margin: 0 0 8px;
  text-shadow: 0px 0px 25px #000, 0px 0px 50px #000;
}

#hero .content h1 span {
  color: var(--primary-100);
}

#hero .content p {
  max-width: 50ch;
  line-height: 24px;
}

.c-t-a {
  display: flex;
  gap: 1.5em;
  margin: 2em 0 0;
}

.c-t-a a {
  border: 1px solid white;
  padding: 8px 42px 8px 16px;
  border-radius: 1.75em;
  position: relative;
  transition: 0.25s ease-in-out background;
}

.c-t-a a:hover > span {
  transform: translateY(-2px) rotate(55deg);
}

.c-t-a a:hover {
  background: var(--primary-350);
}

.c-t-a span {
  position: absolute;
  right: 6px;
  top: 2px;
  filter: invert(1);
  transition: 0.25s ease-in all;
}

#reason {
  display: flex;
  gap: 2em;
  align-items: center;
  height: 100vh;
}

.fact {
  max-width: 40ch;
  min-height: 225px;
  padding: 1.75em;
  border-radius: 1.75em;
  position: relative;
  background: hsla(270, 69%, 5%, 0.75);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid hsla(111, 24%, 94%, 0.5);
}

.fact::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 85%;
  background: #000;
  z-index: -1;
}

.fact h2 {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.fact h3 {
  font-weight: 600;
  text-align: center;
  margin: 0 0 8px;
}

.fact p {
  text-align: justify;
  line-height: 25px;
}

.pagination {
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination > div {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background: var(--secondary-100);
  border-radius: 50%;
  transition: 0.25s width ease-in, 0.25s border-radius ease-in;
  cursor: pointer;
}

.navigation div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navigation div img {
  filter: drop-shadow(#040716 0px 0px 2px);
}

.navigation .left {
  left: -30px;
}

.navigation .right {
  right: -30px;
}

[slide-step] > .wrap {
  display: none;
}

[slide-step="1"] > .slides-1,
[slide-step="2"] > .slides-2,
[slide-step="3"] > .slides-3,
[slide-step="4"] > .slides-4,
[slide-step="5"] > .slides-5,
[slide-step="6"] > .slides-6,
[slide-step="7"] > .slides-7,
[slide-step="8"] > .slides-8,
[slide-step="9"] > .slides-9,
[slide-step="10"] > .slides-10,
[slide-step="11"] > .slides-11,
[slide-step="12"] > .slides-12 {
  display: block;
}

[slide-step="1"] > .pagination :nth-child(1),
[slide-step="2"] > .pagination :nth-child(2),
[slide-step="3"] > .pagination :nth-child(3),
[slide-step="4"] > .pagination :nth-child(4),
[slide-step="5"] > .pagination :nth-child(5),
[slide-step="6"] > .pagination :nth-child(6),
[slide-step="7"] > .pagination :nth-child(7),
[slide-step="8"] > .pagination :nth-child(8),
[slide-step="9"] > .pagination :nth-child(9),
[slide-step="10"] > .pagination :nth-child(10),
[slide-step="11"] > .pagination :nth-child(11),
[slide-step="12"] > .pagination :nth-child(12) {
  width: 20px;
  border-radius: 16px;
}

.wrap {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.portfolio {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.portfolio h2 {
  margin: 0 0 1em;
  letter-spacing: 1px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}

.portfolio .spatio-stand {
  bottom: -4px;
  left: -4px;
  position: absolute;
  height: 350px;
  width: auto;
}

.portfolio .spatio-stand img {
  width: 100%;
  height: 100%;
}

.portfolios {
  background: hsla(273, 69%, 5%, 0.31) url("/public/media/home/bg-port-002.webp") top center/cover no-repeat;
  border-radius: 2em;
  border: 2px solid hsla(111, 24%, 94%, 0.1);
  display: flex;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  padding: 4.5em 0;
}

.portfolios a {
  display: block;
  width: 275px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 2em;
  border: 2px solid #fff;
  background: hsla(293, 69%, 5%, 0.7);
  box-shadow: 0px 0px 10px var(--primary-500), 0px 0px 10px var(--primary-500) inset;
  padding: 1em;
  max-width: 27ch;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.25s ease-in-out background;
}

.portfolios a:hover {
  background: var(--primary-350);
}

#scroll {
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  padding: 1em 0;
  position: relative;
  display: grid;
  align-items: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#scroll h2 {
  text-align: center;
  margin: 0 0 1em;
}

.scroll {
  position: relative;
  display: flex;
  width: 95vw;
  min-width: 300px;
  margin: 1.75em auto 0;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  --t: 62s;
}

.scroll > div {
  white-space: nowrap;
  animation: slide var(--t) linear infinite;
}

.scroll > div > span {
  display: inline-flex;
  margin: 0 1.75em;
  width: 75px;
  height: 75px;
}

.scroll > div > span img {
  width: 100%;
  height: 100%;
}

.scroll > div:nth-child(2) {
  animation: slide2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

.home-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: 3em;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 12px;
  border-radius: 1.75em;
  padding: 2em 1em;
  position: relative;
  background: hsla(270, 69%, 5%, 0.75);
  border: 1px solid hsla(111, 24%, 94%, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.home-links a {
  border-radius: 2em;
  border: 2px solid var(--secondary-200);
  box-shadow: 0px 0px 10px var(--secondary-300), 0px 0px 10px var(--secondary-300) inset;
  padding: 1em 1.75em;
  margin: 12px 1em;
  max-width: 25ch;
  text-align: center;
  transition: 0.25s ease-in-out background;
}

.home-links a:hover {
  background: var(--primary-500);
}

/* Home page | Hero section */

#hero {
  height: calc(100vh + 95px);
  width: 100vw;
  display: grid;
  align-items: center;
  background: url("/public/media/test/008.jpg") center/cover no-repeat;
  box-shadow: inset 0px -35px 50px #020000;
}

#hero .content {
  min-width: 275px;
  width: 50%;
  margin: 5% 0 0 10%;
  z-index: 2;
}

#hero .content h1 {
  font-size: clamp(1.2rem, 4vw, 2.489rem);
  max-width: 17ch;
  margin: 0 0 8px;
  text-shadow: 0px 0px 25px #000, 0px 0px 50px #000;
}

#hero .content h1 span {
  color: var(--primary-100);
}

#hero .content p {
  max-width: 50ch;
  line-height: 24px;
}

.c-t-a {
  display: flex;
  gap: 1.5em;
  margin: 2em 0 0;
}

.c-t-a a {
  border: 1px solid white;
  padding: 8px 42px 8px 16px;
  border-radius: 1.75em;
  position: relative;
  transition: 0.25s ease-in-out background;
}

.c-t-a a:hover > span {
  transform: translateY(-2px) rotate(55deg);
}

.c-t-a a:hover {
  background: var(--primary-350);
}

.c-t-a span {
  position: absolute;
  right: 6px;
  top: 2px;
  filter: invert(1);
  transition: 0.25s ease-in all;
}

#reason {
  display: flex;
  gap: 2em;
  align-items: center;
  height: 100vh;
}

.fact {
  max-width: 40ch;
  min-height: 225px;
  padding: 1.75em;
  border-radius: 1.75em;
  position: relative;
  background: hsla(270, 69%, 5%, 0.75);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid hsla(111, 24%, 94%, 0.5);
}

.fact::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 85%;
  background: #000;
  z-index: -1;
}

.fact h2 {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.fact h3 {
  font-weight: 600;
  text-align: center;
  margin: 0 0 8px;
}

.fact p {
  text-align: justify;
  line-height: 25px;
}

.pagination {
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination > div {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background: var(--secondary-100);
  border-radius: 50%;
  transition: 0.25s width ease-in, 0.25s border-radius ease-in;
  cursor: pointer;
}

.navigation div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navigation div img {
  filter: drop-shadow(#040716 0px 0px 2px);
}

.navigation .left {
  left: -30px;
}

.navigation .right {
  right: -30px;
}

[slide-step] > .wrap {
  display: none;
}

[slide-step="1"] > .slides-1,
[slide-step="2"] > .slides-2,
[slide-step="3"] > .slides-3,
[slide-step="4"] > .slides-4,
[slide-step="5"] > .slides-5,
[slide-step="6"] > .slides-6,
[slide-step="7"] > .slides-7,
[slide-step="8"] > .slides-8,
[slide-step="9"] > .slides-9,
[slide-step="10"] > .slides-10,
[slide-step="11"] > .slides-11,
[slide-step="12"] > .slides-12 {
  display: block;
}

[slide-step="1"] > .pagination :nth-child(1),
[slide-step="2"] > .pagination :nth-child(2),
[slide-step="3"] > .pagination :nth-child(3),
[slide-step="4"] > .pagination :nth-child(4),
[slide-step="5"] > .pagination :nth-child(5),
[slide-step="6"] > .pagination :nth-child(6),
[slide-step="7"] > .pagination :nth-child(7),
[slide-step="8"] > .pagination :nth-child(8),
[slide-step="9"] > .pagination :nth-child(9),
[slide-step="10"] > .pagination :nth-child(10),
[slide-step="11"] > .pagination :nth-child(11),
[slide-step="12"] > .pagination :nth-child(12) {
  width: 20px;
  border-radius: 16px;
}

.wrap {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.portfolio {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.portfolio h2 {
  margin: 0 0 1em;
  letter-spacing: 1px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}

.portfolio .spatio-stand {
  bottom: -4px;
  left: -4px;
  position: absolute;
  height: 350px;
  width: auto;
}

.portfolio .spatio-stand img {
  width: 100%;
  height: 100%;
}

.portfolios {
  background: hsla(273, 69%, 5%, 0.31) url("/public/media/home/bg-port-002.webp") top center/cover no-repeat;
  border-radius: 2em;
  border: 2px solid hsla(111, 24%, 94%, 0.1);
  display: flex;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  padding: 4.5em 0;
}

.portfolios a {
  display: block;
  width: 275px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 2em;
  border: 2px solid #fff;
  background: hsla(293, 69%, 5%, 0.7);
  box-shadow: 0px 0px 10px var(--primary-500), 0px 0px 10px var(--primary-500) inset;
  padding: 1em;
  max-width: 27ch;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.25s ease-in-out background;
}

.portfolios a:hover {
  background: var(--primary-350);
}

#scroll {
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  padding: 1em 0;
  position: relative;
  display: grid;
  align-items: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#scroll h2 {
  text-align: center;
  margin: 0 0 1em;
}

.scroll {
  position: relative;
  display: flex;
  width: 95vw;
  min-width: 300px;
  margin: 1.75em auto 0;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  --t: 62s;
}

.scroll > div {
  white-space: nowrap;
  animation: slide var(--t) linear infinite;
}

.scroll > div > span {
  display: inline-flex;
  margin: 0 1.75em;
  width: 75px;
  height: 75px;
}

.scroll > div > span img {
  width: 100%;
  height: 100%;
}

.scroll > div:nth-child(2) {
  animation: slide2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

.home-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: 3em;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 12px;
  border-radius: 1.75em;
  padding: 2em 1em;
  position: relative;
  background: hsla(270, 69%, 5%, 0.75);
  border: 1px solid hsla(111, 24%, 94%, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.home-links a {
  border-radius: 2em;
  border: 2px solid var(--secondary-200);
  box-shadow: 0px 0px 10px var(--secondary-300), 0px 0px 10px var(--secondary-300) inset;
  padding: 1em 1.75em;
  margin: 12px 1em;
  max-width: 25ch;
  text-align: center;
  transition: 0.25s ease-in-out background;
}

.home-links a:hover {
  background: var(--primary-500);
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  footer .deco.ship {
    top: -25px;
  }

  footer .deco.spatio {
    width: 250px;
  }

  .container {
    max-width: 1024px;
  }

  #reason .portfolios {
    gap: 1.75em;
    max-width: none;
    margin: 0;
  }

  #reason .portfolios a {
    width: 250px;
    padding: 12px;
  }

  #reason .spatio-stand {
    left: -95px;
  }

  #reason .portfolios {
    gap: 1.75em;
    max-width: none;
    margin: 0;
  }

  #reason .portfolios a {
    width: 250px;
    padding: 12px;
  }

  #reason .spatio-stand {
    left: -95px;
  }
}

@media (max-width: 1024px) {
  footer .deco {
    width: 250px;
  }

  footer .deco.ship {
    top: initial;
    bottom: 0;
    width: 125px;
  }

  footer .deco.spatio {
    width: 150px;
  }

  footer .get-in-touch {
    max-width: 80%;
  }

  footer .copyright {
    font-weight: 200;
    font-size: 0.9rem;
  }

  .container {
    max-width: 768px;
  }

  #reason {
    flex-direction: column;
    gap: 10%;
    justify-content: center;
  }

  #reason h2 {
    font-size: 1.3rem;
  }

  #reason .portfolios {
    padding: 1.75em;
    width: 100%;
  }

  #reason .portfolios a {
    width: 250px;
    padding: 12px;
  }

  #reason {
    flex-direction: column;
    gap: 10%;
    justify-content: center;
  }

  #reason h2 {
    font-size: 1.3rem;
  }

  #reason .portfolios {
    padding: 1.75em;
    width: 100%;
  }

  #reason .portfolios a {
    width: 250px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  header {
    position: fixed;
    border-bottom: 2px solid color-mix(in srgb, var(--secondary-100), transparent 85%);
    background: hsla(263, 69%, 5%, 0.75);
    z-index: 5;
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .nav-links {
    display: grid;
    position: absolute;
    gap: 1em 0;
    top: 64px;
    right: -22px;
    opacity: 0;
    transform: translateX(25%);
    padding: 1em 1.75em 1em 1em;
    border: 2px solid color-mix(in srgb, var(--secondary-100), transparent 85%);
    border-radius: 1em;
    background: hsla(263, 69%, 5%, 0.75);
    transition: 0.25s;
  }

  .nav-links .link a {
    text-shadow: initial;
    color: initial;
  }

  .nav-links:hover .link {
    opacity: 0.5;
  }

  .nav-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    border-radius: 1em;
    z-index: 1;
    transition: 2s;
  }

  .nav-links .ico-nav {
    display: block;
    filter: invert(1);
  }

  .nav-links .order-link {
    display: block;
  }

  .nav-links .link {
    display: flex;
    gap: 0.6666666667em;
    z-index: 2;
    cursor: pointer;
    transition: 0.25s;
  }

  .nav-links .link:hover {
    opacity: 1;
  }

  .command {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  footer .get-in-touch {
    max-width: 90%;
  }

  .container {
    max-width: 640px;
  }

  #scroll .content {
    margin-top: 72px;
  }

  #scroll .content {
    margin-top: 72px;
  }
}

@media (max-width: 640px) {
  footer .get-in-touch {
    flex-direction: column;
    text-align: center;
    gap: 1em;
  }

  footer .adress {
    order: 1;
  }

  footer .tel {
    order: 2;
  }

  footer .mail {
    order: 3;
  }

  footer .deco {
    width: 250px;
  }

  footer .deco.ship {
    top: -10%;
    bottom: initial;
    left: 12px;
    width: 150px;
  }

  footer .deco.spatio {
    right: 24px;
    width: 150px;
  }

  .container {
    max-width: 475px;
  }

  #hero .content h1 span {
    color: var(--secondary-100);
    text-shadow: 0px 0px 5px var(--primary-500);
  }

  #reason {
    padding: 1em;
    overflow: hidden;
  }

  #reason .portfolio {
    text-align: center;
    width: 100%;
    margin: 2.5em 0 0;
    position: relative;
  }

  #reason .portfolio h2 {
    margin: 0 0 1em;
    letter-spacing: 1px;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: -moz-max-content;
    width: max-content;
  }

  #reason .portfolios {
    border-radius: 1.75em;
    display: flex;
    max-width: none;
    margin: 0 auto;
    padding: 1.75em 0;
  }

  #reason .portfolios a {
    width: 250px;
    border-radius: 2em;
    border: 1px solid #fff;
    text-align: center;
    letter-spacing: 1px;
  }

  #reason .spatio-stand {
    display: none;
  }

  #reason .fact {
    max-width: none;
    width: 90vw;
    min-width: 290px;
    padding: 1.75em 1em;
    border-radius: 1.5em;
  }

  #reason .fact::after {
    top: -3px;
    height: 4px;
    width: 85%;
  }

  #reason .fact h2 {
    top: -15px;
  }

  #reason .fact h3 {
    font-size: 1.1rem;
  }

  #hero .content h1 span {
    color: var(--secondary-100);
    text-shadow: 0px 0px 5px var(--primary-500);
  }

  #reason {
    padding: 1em;
    overflow: hidden;
  }

  #reason .portfolio {
    text-align: center;
    width: 100%;
    margin: 2.5em 0 0;
    position: relative;
  }

  #reason .portfolio h2 {
    margin: 0 0 1em;
    letter-spacing: 1px;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: -moz-max-content;
    width: max-content;
  }

  #reason .portfolios {
    border-radius: 1.75em;
    display: flex;
    max-width: none;
    margin: 0 auto;
    padding: 1.75em 0;
  }

  #reason .portfolios a {
    width: 250px;
    border-radius: 2em;
    border: 1px solid #fff;
    text-align: center;
    letter-spacing: 1px;
  }

  #reason .spatio-stand {
    display: none;
  }

  #reason .fact {
    max-width: none;
    width: 90vw;
    min-width: 290px;
    padding: 1.75em 1em;
    border-radius: 1.5em;
  }

  #reason .fact::after {
    top: -3px;
    height: 4px;
    width: 85%;
  }

  #reason .fact h2 {
    top: -15px;
  }

  #reason .fact h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 475px) {
  footer .deco {
    width: 250px;
  }

  footer .deco.ship {
    top: -10%;
    bottom: initial;
    left: 1em;
    width: 100px;
  }

  footer .deco.spatio {
    top: -15%;
    right: 1em;
    width: 100px;
  }

  .container {
    width: 100%;
  }

  .fact {
    min-height: 260px;
    margin-bottom: 3em;
  }

  #reason {
    padding: 75px 1em 0;
    height: -moz-max-content;
    height: max-content;
  }

  #reason .portfolios {
    margin: 0 auto 62px;
  }

  #scroll h2 {
    font-size: 1.4rem;
  }

  #scroll .tools div {
    margin: 0 12px;
    scale: 0.9;
  }

  #visit {
    padding: 0 1em;
    margin: 3em 0 3em;
  }

  #visit .home-links {
    background: hsla(263, 70%, 5%, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid hsla(111, 24%, 94%, 0.5);
    gap: 1em;
  }

  .home-links {
    width: 90%;
  }

  .home-links a {
    margin: 12px auto;
    width: 100%;
  }

  .fact {
    min-height: 260px;
    margin-bottom: 3em;
  }

  #reason {
    padding: 75px 1em 0;
    height: -moz-max-content;
    height: max-content;
  }

  #reason .portfolios {
    margin: 0 auto 62px;
  }

  #scroll h2 {
    font-size: 1.4rem;
  }

  #scroll .tools div {
    margin: 0 12px;
    scale: 0.9;
  }

  #visit {
    padding: 0 1em;
    margin: 3em 0 3em;
  }

  #visit .home-links {
    background: hsla(263, 70%, 5%, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid hsla(111, 24%, 94%, 0.5);
    gap: 1em;
  }

  .home-links {
    width: 90%;
  }

  .home-links a {
    margin: 12px auto;
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */
