@charset "UTF-8";

/* Default styles */

@import 'google-fonts.css';

:root {
  --yale-blue: hsla(212, 72%, 26%, 1);
  --berkeley-blue: hsla(215, 66%, 22%, 1);
  --oxford-blue: hsla(213, 72%, 16%, 1);
  --powder-blue: hsla(209, 32%, 66%, 1);
  --mint-cream: hsla(111, 24%, 94%, 1);
  --phthalo-blue: hsla(243, 76%, 27%, 1);
  --black-pearl: hsla(230, 70%, 5%, 1);
  --lavender-web: hsla(248, 54%, 89%, 1);
  --moonstone: hsla(185, 84%, 38%, 1);
  --moonstone-dark: hsl(200, 84%, 38%);
  --russian-violet: hsla(295, 100%, 15%, 1);
  --chinese-violet: hsla(269, 9%, 45%, 1);
  --btn-grey: hsla(240, 3%, 12%, 1);
  --dark-black: hsl(210, 50%, 1%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  color: var(--mint-cream);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  color: var(--mint-cream);
  min-height: 800px;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: background 0.25s ease-in-out;
  overflow-x: clip;
  max-width: 100vw;
  background: var(--dark-black) url("/public/media/stars-001.png");
}

body::-webkit-scrollbar {
  width: 0.35em;
}

body::-webkit-scrollbar-track {
  background: var(--black-pearl);
  border-left: 1px solid hsla(111, 24%, 94%, 0.1);
}

body::-webkit-scrollbar-thumb {
  background: var(--lavender-web);
}

h1 {
  font-family: "Bunken Tech Sans SC Wide W01Bd";
  text-transform: uppercase;
}

h2 {
  font-family: "Bunken Tech Sans SC Wide W01Bd";
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 2.489rem;
  /* 39.84px */
}

h2 {
  font-size: 1.728rem;
  /* 33.12px */
}

h3 {
  font-size: 1.44rem;
  /* 27.68px */
}

h4 {
  font-size: 1.2rem;
  /* 23.04px */
}

small {
  font-size: 0.833rem;
  /* 13.28px */
}

header {
  bottom: 1px solid hsla(111, 24%, 94%, 0.1);
  padding: 8px 1em 1em;
  position: absolute;
  width: 100%;
  z-index: 4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: relative;
}

nav a {
  text-transform: uppercase;
}

.logo {
  display: flex;
  height: -moz-max-content;
  height: max-content;
  z-index: 5;
}

.ico-planet {
  height: 45px;
  width: auto;
}

.ico-planet img {
  width: 100%;
  height: 100%;
}

.link {
  padding: 10px 0 0;
  z-index: 5;
  display: flex;
  gap: 10px;
  align-items: center;
}

.link .ico-nav {
  display: none;
  padding: 2px 0 0;
  filter: invert(94%) sepia(3%) saturate(391%) hue-rotate(66deg) brightness(105%) contrast(91%);
}

.link.order-link {
  display: none;
}

.nav-links {
  display: flex;
  gap: 1.75em;
}

.command a {
  padding: 8px 12px;
  border-radius: 1.75em;
  border: 1px solid hsla(111, 24%, 94%, 0.75);
}

.burger-btn {
  display: none;
  position: absolute;
  right: 1px;
  width: 30px;
  height: 30px;
  top: 12px;
  z-index: 5;
  opacity: 0;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  width: 32px;
  margin: 9px 0 0 1em;
  cursor: pointer;
}

.burger-menu .line {
  flex-grow: 1;
  height: 3px;
  border-radius: 2px;
  background: var(--mint-cream);
}

.burger-menu .double {
  display: flex;
  gap: 4px;
}

.burger-menu .double :nth-child(1) {
  width: 55%;
  transition: 0.25s width ease-in-out;
}

.burger-menu .double :nth-child(2) {
  width: 10%;
  transition: 0.25s width ease-in-out;
}

#toggle-off {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  z-index: 4;
}

.burger-btn:checked ~ #toggle-off {
  display: block;
}

.burger-btn:checked ~ .nav-links {
  height: 400%;
  opacity: 1;
}

.burger-btn:checked ~ .burger-menu .double :nth-child(1) {
  width: 25%;
}

.burger-btn:checked ~ .burger-menu .double :nth-child(2) {
  width: 75%;
}

footer {
  max-width: 100vw;
  text-align: left;
  line-height: 25px;
  padding: 0 0 1em;
  margin-top: 6em;
  position: relative;
  background: hsla(0, 0%, 0%, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: -4px 0px 5px #000, -4px 0px 20px #000, -6px 0px 30px #000, -6px 0px 15px #000 inset, 6px 0px 20px #000 inset;
}

footer a {
  font-size: 1rem;
}

.separation {
  height: 2px;
  border-radius: 4px;
  width: 50%;
  min-width: 200px;
  margin: 0 auto calc(3em + 12px);
  background: var(--lavender-web);
  position: relative;
  top: -1px;
}

.get-in-touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  min-width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}

.get-in-touch a {
  font-weight: 200;
}

.get-in-touch ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1em;
}

.get-in-touch li {
  width: -moz-max-content;
  width: max-content;
}

.get-in-touch .adress {
  pointer-events: none;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em 0 1em;
}

.ico {
  transition: transform ease-in-out 0.25s;
  cursor: pointer;
}

.ico:hover {
  transform: scale(1.1) translateY(-5px);
}

.copyright {
  text-align: center;
}

.deco {
  position: absolute;
  top: -75px;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

.deco img {
  width: 100%;
  height: 100%;
}

.deco.ship {
  left: clamp(5px, 10%, 50px);
  top: -25px;
  width: 200px;
  animation: flying 1.5s ease infinite;
}

.deco.spatio {
  right: clamp(5px, 10%, 50px);
  width: 200px;
  animation: floating 5s ease infinite;
}

.get-to-top {
  position: absolute;
  top: -115px;
  right: 1em;
  filter: invert(100%);
  opacity: 0.7;
}

#hero {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  background: url(../../src/media/bg-004-1.webp);
  box-shadow: inset 0px -35px 50px #000;
}

#hero .content {
  min-width: 300px;
  width: 50%;
  margin: 0 10%;
  z-index: 2;
}

#hero .content h1 {
  max-width: 15ch;
  margin: 0 0 8px;
}

#hero .content p {
  max-width: 50ch;
  line-height: 24px;
}

.c-t-a {
  display: flex;
  gap: 1.5em;
  margin: 2em 0 0;
}

.c-t-a span {
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 1.75em;
}

.bg-h {
  position: absolute;
  height: 70vh;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.bg-h.spatio {
  right: 30%;
  filter: brightness(70%);
}

.bg-h.planet {
  right: 8%;
  height: 80vh;
  filter: brightness(75%);
}

.bg-h img {
  height: 100%;
  width: 100%;
}

#reason {
  display: flex;
  gap: 2em;
  align-items: center;
  height: 100vh;
}

.fact {
  max-width: 40ch;
  padding: 1.75em;
  border-radius: 1.75em;
  position: relative;
  background: hsla(230, 70%, 5%, 0.75);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid hsla(111, 24%, 94%, 0.5);
}

.fact::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 85%;
  background: var(--dark-black);
  z-index: -1;
}

.fact h2 {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.fact h3 {
  font-weight: 600;
  text-align: center;
  margin: 0 0 8px;
}

.fact p {
  text-align: justify;
  line-height: 25px;
}

[slide-step] > .wrap {
  display: none;
}

[slide-step="1"] > .slides-1,
[slide-step="2"] > .slides-2,
[slide-step="3"] > .slides-3,
[slide-step="4"] > .slides-4,
[slide-step="5"] > .slides-5,
[slide-step="6"] > .slides-6,
[slide-step="7"] > .slides-7,
[slide-step="8"] > .slides-8,
[slide-step="9"] > .slides-9,
[slide-step="10"] > .slides-10,
[slide-step="11"] > .slides-11 {
  display: block;
}

[slide-step="1"] > .pagination :nth-child(1),
[slide-step="2"] > .pagination :nth-child(2),
[slide-step="3"] > .pagination :nth-child(3),
[slide-step="4"] > .pagination :nth-child(4),
[slide-step="5"] > .pagination :nth-child(5),
[slide-step="6"] > .pagination :nth-child(6),
[slide-step="7"] > .pagination :nth-child(7),
[slide-step="8"] > .pagination :nth-child(8),
[slide-step="9"] > .pagination :nth-child(9),
[slide-step="10"] > .pagination :nth-child(10),
[slide-step="11"] > .pagination :nth-child(11) {
  width: 20px;
  border-radius: 16px;
}

.wrap {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.portfolio {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.portfolio h2 {
  margin: 0 0 1em;
  letter-spacing: 1px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}

.portfolio .spatio-stand {
  bottom: -4px;
  left: -4px;
  position: absolute;
  height: 350px;
  width: auto;
}

.portfolio .spatio-stand img {
  width: 100%;
  height: 100%;
}

.portfolios {
  background: hsla(230, 70%, 5%, 0.31) url("/media/home/bg-port.webp") top center/cover no-repeat;
  border-radius: 2em;
  border: 2px solid hsla(111, 24%, 94%, 0.1);
  display: flex;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  padding: 4.5em 0;
}

.portfolios a {
  display: block;
  width: 275px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 2em;
  border: 2px solid #fff;
  background: hsla(230, 70%, 5%, 0.7);
  box-shadow: 0px 0px 10px var(--moonstone-dark), 0px 0px 10px var(--moonstone-dark) inset;
  padding: 1em;
  max-width: 27ch;
  text-align: center;
  letter-spacing: 1px;
}

#scroll {
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  padding: 1em 0;
  position: relative;
  display: grid;
  align-items: center;
  margin: 0;
  background: var(--dark-black);
  overflow: hidden;
}

#scroll h2 {
  text-align: center;
  margin: 0 0 1em;
}

.tools {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
}

.tools div {
  margin: 0 2em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

.home-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8% auto 12px;
  border-radius: 1.75em;
  padding: 2em 1em;
  position: relative;
  background: hsl(227, 61%, 54%);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.home-links a {
  border-radius: 2em;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px var(--mint-cream), 0px 0px 10px var(--mint-cream) inset;
  padding: 1em 1.75em;
  margin: 12px 1em;
  max-width: 25ch;
  text-align: center;
}

[active-step] > div {
  display: none;
}

[active-step="1"] > .step-1,
[active-step="2"] > .step-2,
[active-step="3"] > .step-3,
[active-step="4"] > .step-4,
[active-step="5"] > .step-5 {
  display: block;
}

[type=radio],
[type=checkbox],
label {
  cursor: pointer;
}

.info {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  border: 2px solid var(--mint-cream);
  border-radius: 1.75em;
  background: var(--black-pearl);
  padding: 1em 1.75em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.inputs {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}

.inputs input:not([type=checkbox], [type=radio]) {
  color: var(--lavender-web);
  font-weight: 300;
  font-size: 1rem;
  width: 40vmin;
}

.inputs input:not([type=checkbox], [type=radio]):focus + label {
  color: var(--moonstone);
}

.inputs input:not([type=checkbox], [type=radio]):-moz-placeholder-shown + label {
  top: 48%;
  transform: translateY(-50%);
  left: 34px;
  color: grey;
  padding: 0;
}

.inputs input:not([type=checkbox], [type=radio]):placeholder-shown + label {
  top: 48%;
  transform: translateY(-50%);
  left: 34px;
  color: grey;
  padding: 0;
}

.inputs label {
  position: absolute;
  top: 4px;
  left: 2em;
  font-size: 0.95em;
  z-index: 2;
  color: var(--yale-blue);
  padding: 0 8px;
  transition: top 0.15s ease-in, left 0.15s ease-in, color 0.15s ease-in, border 0.15s ease-in, transform 0.15s ease-in, padding 0.15s ease-in;
  pointer-events: none;
}

.inputs label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;
  height: 4px;
  width: 95%;
  background: var(--black-pearl);
  z-index: -1;
  transition: background 0.15s ease-in;
}

input:not([type=checkbox], [type=radio]) {
  border: 2px solid var(--yale-blue);
  background: none;
  padding: 8px 16px;
  border-radius: 1.75em;
  margin: 1em;
  position: relative;
}

input:not([type=checkbox], [type=radio]):focus {
  outline: none;
  border-color: var(--moonstone);
}

.check,
.option {
  line-height: 30px;
}

.check input,
.option input {
  opacity: 0;
}

.check input:checked + label::after,
.option input:checked + label::after {
  background: var(--black-pearl) url(/media/nav/check.svg) center/14px no-repeat;
  left: -5px;
}

.check input:checked + label::before,
.option input:checked + label::before {
  background: var(--black-pearl);
}

.check label,
.option label {
  padding-left: 1.5em;
  cursor: pointer;
  position: relative;
}

.check label::after,
.option label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  border-radius: 50%;
  border: 2px solid var(--yale-blue);
  left: -20px;
  width: 20px;
  aspect-ratio: 1/1;
  background: var(--mint-cream) url(/media/nav/check.svg) center/0px no-repeat;
  transition: 0.25s all ease-in-out;
}

.check label::before,
.option label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  border: 2px solid var(--yale-blue);
  left: -20px;
  width: 34px;
  height: 20px;
  border-radius: 10px;
  background: var(--mint-cream);
  opacity: 0.7;
  transition: 0.25s all ease-in-out;
}

#order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 86px);
  margin-top: 50px;
}

#order h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: clamp(1.2rem, 2vw, 2.5rem);
}

form {
  background: hsla(230, 70%, 5%, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid hsla(111, 24%, 94%, 0.1);
  margin: 0 auto;
  border-radius: 1.75em;
  min-height: 375px;
  height: 100%;
  width: clamp(250px, 65%, 1000px);
  text-align: center;
  position: relative;
  display: grid;
  align-content: center;
}

form .buttons {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}

.step-1 h2 {
  margin-bottom: 1em;
}

.step-1 .input-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.step-2 {
  height: -moz-max-content;
  height: max-content;
}

.step-2 .info {
  height: 250px;
  margin: auto 0;
}

.step-2 h2 {
  margin-bottom: 1em;
}

.step-2 .site-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0 3em;
  width: 50%;
  margin: 0 auto;
}

.step-2 .site-desc .inputs,
.step-2 .site-desc .check {
  margin-bottom: 1em;
}

.step-2 .site-desc .inputs input {
  margin: 1em 0;
}

.step-2 .site-desc .inputs input:-moz-placeholder-shown + label {
  top: 47%;
  left: 18px;
}

.step-2 .site-desc .inputs input:placeholder-shown + label {
  top: 47%;
  left: 18px;
}

.step-2 .site-desc .inputs label {
  left: 16px;
}

.option {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}

.step-3 h2 {
  margin-bottom: 1em;
}

.step-3 .more {
  display: grid;
  grid-template-columns: repeat(3, 165px);
  place-content: center;
  gap: 2.5em;
}

.step-3 .choice h3 {
  font-size: 1rem;
  text-align: initial;
  opacity: 0.8;
}

.step-4 {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

.step-4 textarea {
  width: clamp(275px, 50vw, 800px);
  height: 225px;
  margin: 1em auto 0;
  resize: none;
  font-weight: 300;
  letter-spacing: 1px;
  background: hsla(228, 43%, 9%, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid hsla(111, 24%, 94%, 0.1);
  border-radius: 1em;
  padding: 1em;
}

.step-4 textarea:focus {
  outline: none;
  border: 1px solid hsla(111, 24%, 94%, 0.3);
}

.step-5 h2 {
  margin-bottom: 8px;
}

.step-5 .radio {
  display: grid;
  grid-template-columns: repeat(3, 185px);
  justify-content: center;
  margin: 0 auto 2em;
}

.step-5 .radio > div {
  display: flex;
  gap: 4px;
}

.step-5 .radio input {
  opacity: 0;
}

.parent label {
  width: -moz-max-content;
  width: max-content;
  padding: 0 1em 0 1.75em;
  position: relative;
}

.parent label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  border-radius: 50%;
  border: 2px solid var(--yale-blue);
  left: 2px;
  width: 20px;
  aspect-ratio: 1/1;
  background: var(--mint-cream) url(/media/nav/check.svg) center/0px no-repeat;
  transition: 0.25s all ease-in-out;
}

.parent label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--yale-blue);
  border-radius: 1em;
  width: 100%;
  height: 100%;
  transition: 0.25s all ease-in-out;
  opacity: 0;
}

.parent input:checked + label {
  color: var(--yale-blue);
}

.parent input:checked + label::after {
  background: var(--black-pearl) url(/media/nav/check.svg) center/14px no-repeat;
}

.parent input:checked + label::before {
  opacity: 1;
}

.confidentiality {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.confidentiality > :first-child {
  background: hsla(228, 43%, 9%, 0.75);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid hsla(111, 24%, 94%, 0.1);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 6px 12px;
  border-radius: 1.75em;
  cursor: pointer;
}

#offer {
  margin-top: 85px;
}

#offer h1 {
  font-size: 1.4rem;
  text-align: center;
  width: 75%;
  margin: 1em auto 1.75em;
}

#offer h2 {
  opacity: 0.8;
  margin: 0 0 1em;
  text-align: center;
}

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
  justify-content: space-evenly;
  background: hsla(230, 70%, 5%, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 2px solid #3f3636;
  border-radius: 1.5em;
  padding: 1.75em;
  position: relative;
}

.offer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(60%);
  width: 4px;
  border-radius: 2px;
  height: 100%;
  background: #3f3636;
}

.extras {
  text-align: center;
  grid-column: span 2;
}

.extras .list {
  grid-template-columns: 1fr 1fr 1fr;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 12px;
}

.product {
  border: 2px solid var(--oxford-blue);
  background: var(--black-pearl);
  -webkit-backdrop-filter: blur(25%);
  backdrop-filter: blur(25%);
  border-radius: 1.75em;
  padding: 16px 8px;
  outline: 1px solid hsla(0, 0%, 8%, 0.3);
  outline-offset: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ord {
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  margin: 3em auto;
}

.ord h1 {
  font-size: 1.2rem;
  margin: 0 auto 1.75em;
}

.ord a {
  background: var(--btn-grey);
  border: none;
  border-radius: 1em;
  padding: 1em 3em;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-shadow: var(--phthalo-blue) 0px 0px 3px, var(--powder-blue) 0px 0px 5px;
  box-shadow: -4px -4px 3px hsla(0, 0%, 20%, 0.521);
}

#works {
  min-height: calc(100vh - 86px);
  margin-top: 110px;
}

#works h1 {
  margin: 1.5em 0 2em;
  text-align: center;
  font-size: clamp(1.2rem, 1vw, 2.2rem);
}

.site {
  position: relative;
  margin: 0 0 75px;
}

.responsive {
  position: relative;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  height: auto;
}

.responsive img {
  width: 100%;
  height: 100%;
}

.descrip {
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 1.75em auto 0;
  line-height: 20px;
  text-align: center;
}

.descrip h2 {
  margin: 0 0 8px;
  text-align: initial;
  width: -moz-max-content;
  width: max-content;
  max-width: none;
}

.descrip::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 75%;
  border-radius: 2px;
  background: hsla(223, 9%, 45%, 0.459);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(100%);
  opacity: 0.7;
  transition: 0.25s opacity ease-in-out;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.375);
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  box-shadow: #fff 0px 0px 10px, #fff 0px 0px 10px, #fff 0px 0px 10px;
}

.nav-btn img {
  width: 100%;
  height: 100%;
  scale: 1.1;
  position: relative;
  bottom: -3px;
}

.nav-btn:hover {
  opacity: 1;
}

.nav-btn.next {
  right: 0;
  transform: rotate(90deg);
}

.nav-btn.pre {
  left: 0;
  transform: rotate(-90deg);
}

[active-site] > div {
  display: none;
}

[active-site="1"] > .site-1,
[active-site="2"] > .site-2 {
  display: initial;
}

.prev,
.descrip {
  animation: siteIn 0.5s ease-out;
}

@keyframes siteIn {
  from {
    transform: translateX(25px);
  }

  to {
    transform: translateX(0);
  }
}

#pubs {
  min-height: calc(100vh - 86px);
  width: 100%;
  margin-bottom: 3em;
}

#pubs h1 {
  margin: 1.75em 0 3em;
  text-align: center;
}

.card-swiper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 150px 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-swiper p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  bottom: -12%;
  background: var(--btn-grey);
  border: none;
  border-radius: 1em;
  padding: 1em 3em;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-shadow: var(--phthalo-blue) 0px 0px 3px, var(--powder-blue) 0px 0px 5px;
  box-shadow: -4px -4px 3px hsla(0, 0%, 20%, 0.521);
  padding: 1em 1.75em;
}

.card-groups,
.card-group,
.card {
  aspect-ratio: 5/7;
}

.card-groups,
.card-group,
.big-card {
  width: 30vmin;
  margin: 0 auto;
  min-width: 200px;
}

.card-group {
  position: relative;
  transition: transform 400ms ease;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  background-position: top center;
  background-size: cover;
}

.big-card {
  border-radius: 1vmin;
}

.little-card {
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.big-card:nth-child(8) {
  background-image: url("/media/pub/preview/web/001.webp");
  transform: translate(10%, 3%) rotate(5deg);
}

.big-card:nth-child(6) {
  background-image: url("/media/pub/preview/web/002.webp");
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(4) {
  background-image: url("/media/pub/preview/web/003.webp");
  transform: rotate(2deg);
}

.big-card:nth-child(2) {
  background-image: url("/media/pub/preview/web/004.webp");
  transform: translateX(-10%) rotate(-1deg);
}

.little-card:nth-child(1) {
  background-image: url("/media/pub/preview/web/005.webp");
}

.little-card:nth-child(3) {
  background-image: url("/media/pub/preview/web/006.webp");
}

.little-card:nth-child(5) {
  background-image: url("/media/pub/preview/web/007.webp");
}

.little-card:nth-child(7) {
  background-image: url("/media/pub/preview/web/008.webp");
}

.card-group[data-index="2"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/host/001.webp");
}

.card-group[data-index="2"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/host/002.webp");
}

.card-group[data-index="2"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/host/003.webp");
}

.card-group[data-index="2"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/host/004.webp");
}

.card-group[data-index="2"] > .little-card:nth-child(1) {
  background-image: url("/media/pub/preview/host/005.webp");
}

.card-group[data-index="2"] > .little-card:nth-child(3) {
  background-image: url("");
}

.card-group[data-index="2"] > .little-card:nth-child(5) {
  background-image: url("");
}

.card-group[data-index="2"] > .little-card:nth-child(7) {
  background-image: url("");
}

.card-group[data-index="3"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/front/001.webp");
}

.card-group[data-index="3"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/front/002.webp");
}

.card-group[data-index="3"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/front/003.webp");
}

.card-group[data-index="3"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/front/004.webp");
}

.card-group[data-index="3"] > .little-card:nth-child(1) {
  background-image: url("/media/pub/preview/front/005.webp");
}

.card-group[data-index="3"] > .little-card:nth-child(3) {
  background-image: url("/media/pub/preview/front/006.webp");
}

.card-group[data-index="3"] > .little-card:nth-child(5) {
  background-image: url("/media/pub/preview/front/007.webp");
}

.card-group[data-index="3"] > .little-card:nth-child(7) {
  background-image: url("");
}

.card-group[data-index="4"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/back/001.webp");
}

.card-group[data-index="4"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/back/002.webp");
}

.card-group[data-index="4"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/back/003.webp");
}

.card-group[data-index="4"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/back/004.webp");
}

.card-group[data-index="4"] > .little-card:nth-child(1) {
  background-image: url("/media/pub/preview/back/005.webp");
}

.card-group[data-index="4"] > .little-card:nth-child(3) {
  background-image: url("");
}

.card-group[data-index="4"] > .little-card:nth-child(5) {
  background-image: url("");
}

.card-group[data-index="4"] > .little-card:nth-child(7) {
  background-image: url("");
}

.card-group[data-index="5"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/design/001.webp");
}

.card-group[data-index="5"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/design/002.webp");
}

.card-group[data-index="5"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/design/003.webp");
}

.card-group[data-index="5"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/design/004.webp");
}

.card-group[data-index="5"] > .little-card:nth-child(1) {
  background-image: url("/media/pub/preview/design/005.webp");
}

.card-group[data-index="5"] > .little-card:nth-child(3) {
  background-image: url("/media/pub/preview/design/006.webp");
}

.card-group[data-index="5"] > .little-card:nth-child(5) {
  background-image: url("/media/pub/preview/design/007.webp");
}

.card-group[data-index="5"] > .little-card:nth-child(7) {
  background-image: url("/media/pub/preview/design/008.webp");
}

.card-group[data-index="6"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/reda/001.webp");
}

.card-group[data-index="6"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/reda/002.webp");
}

.card-group[data-index="6"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/reda/003.webp");
}

.card-group[data-index="6"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/reda/004.webp");
}

.card-group[data-index="6"] > .little-card:nth-child(1) {
  background-image: url("");
}

.card-group[data-index="6"] > .little-card:nth-child(3) {
  background-image: url("");
}

.card-group[data-index="6"] > .little-card:nth-child(5) {
  background-image: url("");
}

.card-group[data-index="6"] > .little-card:nth-child(7) {
  background-image: url("");
}

.card-group[data-index="7"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/soft/001.webp");
}

.card-group[data-index="7"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/soft/002.webp");
}

.card-group[data-index="7"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/soft/003.webp");
}

.card-group[data-index="7"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/soft/004.webp");
}

.card-group[data-index="7"] > .little-card:nth-child(1) {
  background-image: url("/media/pub/preview/soft/005.webp");
}

.card-group[data-index="7"] > .little-card:nth-child(3) {
  background-image: url("/media/pub/preview/soft/006.webp");
}

.card-group[data-index="7"] > .little-card:nth-child(5) {
  background-image: url("/media/pub/preview/soft/007.webp");
}

.card-group[data-index="7"] > .little-card:nth-child(7) {
  background-image: url("/media/pub/preview/soft/008.webp");
}

.card-group[data-index="8"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/pub/001.webp");
}

.card-group[data-index="8"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/pub/002.webp");
}

.card-group[data-index="8"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/pub/003.webp");
}

.card-group[data-index="8"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/pub/004.webp");
}

.card-group[data-index="8"] > .little-card:nth-child(1) {
  background-image: url("/media/pub/preview/pub/005.webp");
}

.card-group[data-index="8"] > .little-card:nth-child(3) {
  background-image: url("/media/pub/preview/pub/006.webp");
}

.card-group[data-index="8"] > .little-card:nth-child(5) {
  background-image: url("/media/pub/preview/pub/007.webp");
}

.card-group[data-index="8"] > .little-card:nth-child(7) {
  background-image: url("/media/pub/preview/pub/008.webp");
}

.card-group[data-index="9"] > .big-card:nth-child(8) {
  background-image: url("/media/pub/preview/seo/001.webp");
}

.card-group[data-index="9"] > .big-card:nth-child(6) {
  background-image: url("/media/pub/preview/seo/002.webp");
}

.card-group[data-index="9"] > .big-card:nth-child(4) {
  background-image: url("/media/pub/preview/seo/003.webp");
}

.card-group[data-index="9"] > .big-card:nth-child(2) {
  background-image: url("/media/pub/preview/seo/004.webp");
}

.card-group[data-index="9"] > .little-card:nth-child(1) {
  background-image: url("");
}

.card-group[data-index="9"] > .little-card:nth-child(3) {
  background-image: url("");
}

.card-group[data-index="9"] > .little-card:nth-child(5) {
  background-image: url("");
}

.card-group[data-index="9"] > .little-card:nth-child(7) {
  background-image: url("");
}

.card-group:hover > .card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(200%, -160%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}

#about {
  margin-top: 55px;
  width: 100vw;
  position: relative;
}

.part {
  margin: 0 auto 3em;
  width: 80%;
  min-width: none;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.part .text {
  background: hsla(230, 70%, 5%, 0.7);
  padding: 2em;
  border-radius: 2em;
}

.part h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.part p {
  line-height: 25px;
}

.team {
  margin-top: 1.75em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3em;
}

.person {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  text-shadow: var(--phthalo-blue) 0px 0px 3px, var(--powder-blue) 0px 0px 5px;
  font-size: 1.2rem;
}

.person h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.person .picture {
  text-align: center;
  height: 200px;
  aspect-ratio: 1/1;
  margin: 0 auto 8px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--oxford-blue);
  box-shadow: 0px 0px 10px var(--chinese-violet);
}

.person .picture img {
  width: 125%;
  height: 125%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: -170px 0;
  object-position: -170px 0;
}

.deco-more {
  position: absolute;
  top: 0;
  filter: brightness(40%);
}

.deco-more img {
  width: 100%;
  height: 100%;
}

.deco-more.spatios {
  z-index: -1;
  right: 0;
  scale: 0.8;
}

.deco-more.planets.one {
  z-index: -3;
  right: -30%;
}

.deco-more.planets.two {
  z-index: -2;
  left: 0;
  bottom: -25%;
  top: initial;
  width: clamp(350px, 30vw, 1000px);
  aspect-ratio: 1/1;
}

/*Desktop First*/

.container {
  max-width: 1536px;
  margin: 0 auto;
}

/*2xl*/

/*xl*/

/*lg*/

/*md*/

/*sm*/

/*xs*/

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-home {
  0% {
    transform: translateY(-49%) rotate(2deg);
  }

  50% {
    transform: translateY(-50%) rotate(0);
  }

  100% {
    transform: translateY(-49%) rotate(2deg);
  }
}

@keyframes flying {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  footer .deco.ship {
    top: -25px;
  }

  footer .deco.spatio {
    width: 250px;
  }

  #hero h1 {
    font-size: 2.389rem;
  }

  #hero .bg-h.spatio {
    right: 15%;
  }

  #hero .bg-h.planet {
    right: -10%;
  }

  #reason .portfolios {
    gap: 1.75em;
    max-width: none;
    margin: 0;
  }

  #reason .portfolios a {
    width: 250px;
    padding: 12px;
  }

  #reason .spatio-stand {
    left: -95px;
  }

  #order form {
    width: 90%;
  }

  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  footer .deco {
    width: 250px;
  }

  footer .deco.ship {
    top: initial;
    bottom: 0;
    width: 125px;
  }

  footer .deco.spatio {
    width: 150px;
  }

  footer .get-in-touch {
    max-width: 80%;
  }

  footer .copyright {
    font-weight: 200;
    font-size: 0.9rem;
  }

  #hero h1 {
    font-size: 2rem;
    width: 17ch;
  }

  #hero .bg-h.spatio {
    right: 10%;
    height: 50vh;
  }

  #hero .bg-h.planet {
    right: -25%;
    height: 80vh;
  }

  #reason {
    flex-direction: column;
    gap: 10%;
    justify-content: center;
  }

  #reason h2 {
    font-size: 1.3rem;
  }

  #reason .portfolios {
    padding: 1.75em;
    width: 100%;
  }

  #reason .portfolios a {
    width: 250px;
    padding: 12px;
  }

  #order .inputs input:not([type=checkbox], [type=radio]) {
    width: 30vmin;
  }

  #order .inputs input:not([type=checkbox], [type=radio]):focus + label {
    color: var(--moonstone);
  }

  #order .inputs input:not([type=checkbox], [type=radio]):-moz-placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    left: 34px;
    color: grey;
    padding: 0;
    background: none;
  }

  #order .inputs input:not([type=checkbox], [type=radio]):placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    left: 34px;
    color: grey;
    padding: 0;
    background: none;
  }

  #about {
    margin-top: 85px;
  }

  #about .part {
    width: 90%;
  }

  #about .deco-more.spatios {
    scale: 0.7;
  }

  #about .deco-more.planets.one {
    scale: 0.9;
  }

  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  header {
    background: hsla(230, 70%, 5%, 0.5);
    border-bottom: 1px solid hsla(111, 24%, 94%, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  header nav {
    justify-content: initial;
  }

  header .command {
    margin-left: auto;
  }

  header .burger-menu {
    display: flex;
  }

  header .burger-btn {
    display: block;
  }

  header .nav-links {
    position: absolute;
    gap: 8px;
    padding: 0 1em 10px 1em;
    top: 70px;
    right: -10px;
    background: hsla(230, 70%, 5%, 0.95);
    border: 1px solid hsla(111, 24%, 94%, 0.15);
    border-radius: 1.5em 0 1.5em 1.5em;
    flex-direction: column;
    z-index: 5;
    overflow: clip;
    height: 0px;
    max-height: 190px;
    opacity: 0;
    transition: opacity 0.15s linear, height 0.25s ease-in-out;
  }

  header .nav-links:hover > .link {
    opacity: 0.5;
  }

  header .nav-links .link:hover {
    opacity: 1;
  }

  header .link {
    transition: 0.15s ease-in-out;
  }

  header .link .ico-nav {
    display: block;
  }

  footer .get-in-touch {
    max-width: 90%;
  }

  #hero .bg-h.spatio {
    top: 40%;
    right: -5%;
    height: 50vh;
  }

  #hero .bg-h.planet {
    right: -45%;
    height: 80vh;
  }

  #scroll .content {
    margin-top: 72px;
  }

  #order {
    margin-top: 65px;
  }

  #order form {
    width: 100%;
  }

  #order h1 {
    width: 80%;
    margin: 0 auto 1.75em;
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
  }

  #order .inputs input:not([type=checkbox], [type=radio]) {
    width: 90%;
  }

  #order .inputs input:not([type=checkbox], [type=radio]):focus + label {
    color: var(--moonstone);
  }

  #order .inputs input:not([type=checkbox], [type=radio]):-moz-placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    left: 34px;
    color: grey;
    padding: 0;
    background: none;
  }

  #order .inputs input:not([type=checkbox], [type=radio]):placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    left: 34px;
    color: grey;
    padding: 0;
    background: none;
  }

  #offer h2 {
    font-size: 1.1rem;
  }

  #offer .ord {
    text-align: center;
    width: 100%;
    margin: 3em auto;
  }

  #offer .ord h1 {
    font-size: 1.1rem;
  }

  #offer .ord a {
    background: var(--btn-grey);
    border: none;
    border-radius: 1em;
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: var(--phthalo-blue) 0px 0px 3px, var(--powder-blue) 0px 0px 5px;
    box-shadow: -4px -4px 3px hsla(0, 0%, 20%, 0.521);
  }

  #offer .offer::after {
    display: none;
  }

  #works {
    margin-top: 105px;
  }

  #works h1 {
    margin: 0 0 2.5em;
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
  }

  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  footer .get-in-touch {
    flex-direction: column;
    text-align: center;
    gap: 1em;
  }

  footer .adress {
    order: 1;
  }

  footer .tel {
    order: 2;
  }

  footer .mail {
    order: 3;
  }

  footer .deco {
    width: 250px;
  }

  footer .deco.ship {
    top: -10%;
    bottom: initial;
    left: 12px;
    width: 150px;
  }

  footer .deco.spatio {
    right: 24px;
    width: 150px;
  }

  #hero {
    padding: 1em;
  }

  #hero h1 {
    font-size: clamp(1.2rem, 6vw, 2.5rem);
    width: 15ch;
  }

  #hero .content {
    margin: 0;
  }

  #hero .content p {
    max-width: none;
    width: 100%;
  }

  #hero .bg-h {
    display: none;
  }

  #reason {
    padding: 1em;
  }

  #reason .portfolio {
    text-align: center;
    width: 100%;
    margin: 0;
    position: relative;
  }

  #reason .portfolio h2 {
    margin: 0 0 1em;
    letter-spacing: 1px;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: -moz-max-content;
    width: max-content;
  }

  #reason .portfolios {
    border-radius: 1.75em;
    display: flex;
    max-width: none;
    margin: 0 auto;
    padding: 1.75em 0;
  }

  #reason .portfolios a {
    width: 250px;
    border-radius: 2em;
    border: 1px solid #fff;
    text-align: center;
    letter-spacing: 1px;
  }

  #reason .spatio-stand {
    display: none;
  }

  #reason .fact {
    max-width: none;
    width: 90vw;
    min-width: 290px;
    padding: 1.75em 1em;
    border-radius: 1.5em;
  }

  #reason .fact::after {
    top: -3px;
    height: 4px;
    width: 85%;
  }

  #reason .fact h2 {
    top: -15px;
  }

  #reason .fact h3 {
    font-size: 1.1rem;
  }

  #order form {
    width: 90%;
  }

  #order h2 {
    margin-bottom: 1em;
    font-size: 1rem;
  }

  #order .step-2 {
    height: -moz-max-content;
    height: max-content;
    margin: 1em 0;
  }

  #order .step-2 .info {
    height: -moz-max-content;
    height: max-content;
    margin: auto 0;
  }

  #order .step-2 .site-desc {
    gap: 1em;
    width: 90%;
  }

  #order .step-2 .site-desc .inputs input {
    margin: 1em 0;
    width: 40vmin;
  }

  #order .step-2 .site-desc .inputs input:-moz-placeholder-shown + label {
    top: 47%;
    left: 18px;
  }

  #order .step-2 .site-desc .inputs input:placeholder-shown + label {
    top: 47%;
    left: 18px;
  }

  #order .step-2 .site-desc .inputs label {
    left: 16px;
  }

  #order .step-2 .site-desc .inputs label::after {
    top: 12px;
  }

  #order .step-2 .site-desc .last {
    grid-column: span 2;
  }

  #order .step-3 h2 {
    margin-bottom: 1em;
  }

  #order .step-3 .more {
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 1.75em;
  }

  #order .step-5 {
    padding: 1em;
  }

  #order .step-5 h2 {
    margin-bottom: 8px;
  }

  #order .step-5 .radio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px 0;
    margin: 0 auto 1em;
  }

  #order .step-5 .radio > div {
    display: flex;
    gap: 4px;
    justify-content: center;
  }

  #order .step-5 .radio input {
    opacity: 0;
    position: absolute;
  }

  #order .step-5 .radio .s-m {
    order: 3;
  }

  #order .step-5 label {
    max-width: 90%;
  }

  #offer .front {
    grid-column: span 2;
  }

  #offer .ord {
    text-align: center;
    width: 100%;
    margin: 3em auto;
  }

  #offer .ord h1 {
    font-size: 1.1rem;
    width: 100%;
  }

  #offer .ord a {
    background: var(--btn-grey);
    border: none;
    border-radius: 1em;
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: var(--phthalo-blue) 0px 0px 3px, var(--powder-blue) 0px 0px 5px;
    box-shadow: -4px -4px 3px hsla(0, 0%, 20%, 0.521);
  }

  #pubs {
    overflow-x: clip;
    margin-top: 105px;
    margin-bottom: 100px;
  }

  #pubs h1 {
    margin: 1.75em 0 1.75em;
    text-align: center;
    font-size: clamp(1.2rem, 6vw, 2.5rem);
  }

  .card-swiper {
    flex-direction: column;
  }

  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  header .burger-menu {
    display: flex;
    margin-left: auto;
  }

  header .link.order-link {
    display: flex;
  }

  header .command {
    display: none;
  }

  header .burger-btn:checked ~ .nav-links {
    height: 500%;
    max-height: 250px;
  }

  footer .deco {
    width: 250px;
  }

  footer .deco.ship {
    top: -10%;
    bottom: initial;
    left: 1em;
    width: 100px;
  }

  footer .deco.spatio {
    top: -15%;
    right: 1em;
    width: 100px;
  }

  #scroll h2 {
    font-size: 1.4rem;
  }

  #scroll .tools div {
    margin: 0 12px;
    scale: 0.9;
  }

  #visit {
    padding: 0 1em;
    margin: 3em 0 3em;
  }

  #visit .home-links {
    background: hsla(230, 70%, 5%, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid hsla(111, 24%, 94%, 0.5);
  }

  .inputs label::after {
    top: 7px;
  }

  input:not([type=checkbox], [type=radio]) {
    margin: 12px 1em;
  }

  #order {
    min-height: 80vh;
    margin-bottom: 20%;
  }

  #order form {
    padding: 1em 0 2.5em;
  }

  #order .inputs input:not([type=checkbox], [type=radio]) {
    width: 75vmin;
  }

  #order .inputs input:not([type=checkbox], [type=radio]):focus + label {
    color: var(--moonstone);
  }

  #order .step-2 {
    height: -moz-max-content;
    height: max-content;
    margin: 0;
    padding: 0 1em;
  }

  #order .step-2 .info {
    height: -moz-max-content;
    height: max-content;
    margin: auto 0;
  }

  #order .step-2 h2 {
    margin-bottom: 1em;
    width: 70%;
    margin: 0 auto;
  }

  #order .step-2 .check {
    margin: 0;
  }

  #order .step-2 .site-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0 auto;
  }

  #order .step-2 .site-desc .inputs {
    grid-column: span 2;
    display: flex;
    width: 100%;
  }

  #order .step-2 .site-desc .inputs input {
    justify-self: center;
    margin: 1em 0 0;
    width: 100%;
  }

  #order .step-2 .site-desc .inputs input:-moz-placeholder-shown + label {
    top: 62%;
    left: 18px;
  }

  #order .step-2 .site-desc .inputs input:placeholder-shown + label {
    top: 62%;
    left: 18px;
  }

  #order .step-2 .site-desc .inputs label {
    left: 22px;
  }

  #order .step-2 .site-desc .inputs label::after {
    top: 12px;
  }

  #order .step-2 .site-desc .option {
    grid-column: span 2;
    margin: 0 1em;
  }

  #order .step-3 h2 {
    margin-bottom: 1em;
  }

  #order .step-3 .more {
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 1em;
  }

  #offer {
    padding: 0 1em;
    margin: 30% 0;
  }

  #offer .product {
    grid-column: span 2;
  }

  #offer .extras .list .product {
    grid-column: span 3;
  }

  #offer h1 {
    font-size: 1.2rem;
    width: -moz-max-content;
    width: max-content;
  }

  #works {
    min-height: calc(80vh - 86px);
    margin-bottom: 25px;
  }

  .responsive {
    margin: 25% auto 0;
  }

  .nav-btn {
    top: 87%;
  }

  .nav-btn.next {
    right: 3%;
    transform: rotate(90deg);
  }

  .nav-btn.pre {
    left: 3%;
    transform: rotate(-90deg);
  }

  #about {
    margin-bottom: 30px;
    overflow: hidden;
  }

  .container {
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */
